<h1>WereWolf Analyser</h1>
<p>
  Start your game better to make it more interesting.
</p>

<h2>Usage</h2>
<h3>Simulate a Game Run</h3>
<p>
  Simulating a game run is so simple. Just pass in the number of wolves and villagers.<br>
  Access the link: <a href="/game?wolves=3&villagers=9">/game?wolves=3&amp;villagers=9</a> to see the result.
</p>
